WG_HOST=185.189.13.99
PASSWORD_HASH=$$2a$$12$$xa9lqp/uKGnYJqlyg8erMOzlTEjZLigZs9EaURDBT0TP2t4iDTUnG #  s24j5iYh465g  #  https://github.com/wg-easy/wg-easy/blob/master/How_to_generate_an_bcrypt_hash.md
